body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Images/Wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-repeat: no-repeat;
  -moz-background-size: cover;
  -moz-background-repeat: no-repeat;
  -o-background-size: cover;
  -o-background-repeat: no-repeat;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    height: 100vh;
  }
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
