.input-paper {
  margin-top: 20px;
  text-align: center;
  border-radius: 25px !important;
  width: 100%;
}

.input-button {
  width: 30%;
}
.input-button-2 {
  width: 95%;
}
.table-btn {
  right: 8%;
}

.random-food-section {
  display: flex;
  flex-direction: column;
}
