* {
  user-select: none !important;
}
.home-page {
  max-width: 100% !important;
  margin-bottom: 5%;
  overflow-x: hidden;
}
.title-bar {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.title-bar img {
  margin-left: -105px;
  width: 250px;
  height: 250px;
}
.home-page-content {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  justify-content: center !important;
}
.login-form {
  flex: 1;
  margin: 0 20px;
  padding: 20px !important;
  border-radius: 25px !important;
}
.push-down {
  margin-top: 10px !important;
}
@media only screen and (max-width: 1024px) {
  .title-bar .title {
    font-size: 50px;
  }
  .title-bar .tag-line {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .title-bar .title {
    font-size: 50px;
  }
  .title-bar .tag-line {
    font-size: 20px;
  }
  .title-bar img {
    margin-left: -75px;
    width: 150px;
    height: 150px;
  }
  .home-page-content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 650px) {
  .title-bar .tag-line {
    display: none;
  }
  .title-bar img {
    margin-left: -25px;
  }
}
