.user-profile-content {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  justify-content: center !important;
}

.input-paper {
  margin-top: 5px;
  padding: 10px !important;
  text-align: center;
  border-radius: 25px !important;
}

.bar {
  margin-top: 5px;
  border-radius: 20px !important;
}
